.main-title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 30px;
    color:rgba(9, 3, 97, 0.9);
    text-shadow: 2px 2px  rgb(248, 244, 244);
}

.main-subtitle{
    font-family: "Press Start 2P", sans-serif;
    font-size: 25px;
    color:rgba(255, 255, 255, 0.9);
    text-shadow: 3px 3px  rgba(9, 3, 97, 0.9);
}

/* TITLE -SKILSS */

 .main-title.-second{
    color: rgba(255, 255, 255, 0.9);
    text-shadow: none;
    text-align: center; 
 }   


 .main-title.-second.-form{
    margin-bottom: 10px;
 }