.progress-bar{
    box-sizing: border-box;
    background-color: white;
    border: 5px solid rgb(0, 0, 0);
    height: 40px;

}

.progress-bar::-webkit-progress-bar,
.progress-bar::-moz-progress-bar, 
.progress-bar::-ms-progress-bar{
    background-color:rgba(6, 151, 235, 0.9);

}