
.logo-projeto{
    width: 240px;
    height: 240px;
    border-radius: 100px;
}

.card-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 240px;
    height: 240px;
    box-shadow: 10px 10px 0px rgb(165, 3, 3);

}

.logo-projeto.-fired{
    width: 220px;
    height: 225px;
}


.card-projects.-collab {
    background-color: rgb(165, 3, 3);
    box-shadow: 10px 10px 0px  blue;
}

.card-projects.-collab .logo-projeto.-card{
    width: 225px;
    height: 225px;
}

.logo-projeto.-foto{
    width: 225px;
    height: 225px;
}

.section.-black{
    background-color: black;
}

.wrapper-projects {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.card-projects:hover{
    transform: scale(1.08);
} 