.banner{
    box-sizing: border-box;
    background-color:black;
    background-image: url(../img/rosto.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    border-bottom: 10px solid rgba(5, 205, 255, 0.9);
    padding-top: 120px;
    padding-left: 100px;;
}


.banner .wrapper-banner{
    display: flex;
    flex-direction: column;
    width: 600px; 
    
}

.banner .box-banner{
    margin-bottom: 40px;

}

.banner .navigation-banner{
    display: flex;
    justify-content: space-evenly;
}